* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}


.header {
    padding: 1rem 0;
    background: url(images/d.jpg);
    margin: auto;
    background-size: cover;
}

.head {
    display: flex;
}


.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 30px 0 0 50px;
}

.logo img {
    height: 70px;
}



.profile {
    background: linear-gradient(to left, rgb(246, 32, 8), rgb(32, 32, 31));
    border-radius: 30px;
    padding: 0.8rem 1.4rem;
    text-transform: capitalize;
    word-spacing: 0.2rem;
    margin-bottom: 5px;
    margin-right: 3rem;
    cursor: pointer;
    transition: transform .5s;
}

.profile i {
    display: none;
}


.profile:hover i {
    display: inline-block;
    padding-right: 5px;
}


.profile:hover {
    transform: scale(1.1);
}


.nav {
    text-transform: uppercase;
    position: absolute;
    left: 40%;
    top: 5%;
    transform: translateX(-30%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    opacity: 70%;
}


.nav ul {
    display: flex;
    list-style: none;
}


.nav ul li {
    cursor: pointer;
    padding: .5rem 2.5rem;
    font-weight: 900;
    text-align: center;
    color: snow;
}

.nav ul a {
    text-decoration: none;
}


.nav ul li:hover {
    border-radius: 60px;
    background: linear-gradient(to left, black, rgb(246, 32, 8), black);
}



.content h3 {
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    text-underline-offset: 2px;
    color: snow;
}


.content p {
    font-size: 16px;
    color: snow;
    text-align: center;
    padding-bottom: 10px;
}

.form {
    width: 30%;
    margin: 20px auto 30px;
    border-radius: 30px;
    background-color: rgb(88, 88, 88);
    box-shadow: 0 0 8vh 0 rgba(139, 16, 2, 1);
    padding: 2rem;
    opacity: 0.8;
}

.form label {
    display: block;
    padding: 20px 0 5px 20px;
    font-size: 15px;
    font-weight: 900;
    color: snow;
}

.form input {
    border: 2px solid black;
    height: 25px;
    width: 100%;
    background: none;
    color: rgb(246, 32, 8);
    border-radius: 50px;
    margin-top: 1vh;
    padding: 2vh;
    font-size: 10px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    font-size: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
    color: snow;
}


.form .btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.form button {
    width: 50%;
    background: transparent;
    border: 2px solid black;
    border-radius: 30px;
    height: 30px;
    margin-top: 3rem;
    color: snow;
    text-transform: capitalize;
}

.form input:hover {
    border: 1px solid rgb(246, 32, 8);
}

.form input:focus {
    border: 1px solid rgb(246, 32, 8);
    outline: none;
}

.form button:hover {
    border: 1px solid rgb(246, 32, 8);
    font-size: 16px;
    font-weight: 900;
    color: rgb(246, 32, 8);
}

.form button:focus {
    border: 1px solid rgb(246, 32, 8);
    outline: none;
    color: rgb(246, 32, 8);
    font-size: 16px;
    font-weight: 900;
}


.footer {
    background: linear-gradient(to left, black, rgb(246, 93, 76), black);
    width: 100%;
    /* bottom: 0; */
    color: aliceblue;
    border-top-left-radius: 40px;
    font-size: 13px;
    line-height: 20px;
    padding: 100px 0 30px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.foot_logo {
    width: 200px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email_id {
    width: fit-content;
    border-bottom: 1px solid snow;
    margin: 20px 0;
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a {
    text-decoration: none;
    color: snow;
}

.col form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid snow;
    margin-bottom: 50px;
}

.col form .fa-regular {
    font-size: 18px;
    margin-right: 10px;
}

.col form input {
    width: 100%;
    background: transparent;
    color: snow;
    border: 0;
    outline: none;
}

.col form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.col form .fa-solid {
    font-size: 16px;
    color: snow;
}

.social_icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: black;
    background: snow;
    margin-right: 15px;
}

.footer hr {
    width: 98%;
    border-bottom: 1 px solid snow;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: gray;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: snow;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

@media (max-width: 800px) {

    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }

    .footer {
        bottom: 0;
    }
}