* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(142, 123, 123);
}

::placeholder {
    color: snow;
}

.container {
    height: 100vh;
    width: 100%;
    opacity: 0.7;
}

.header {
    height: 100vh;
    width: 100%;
    padding: 1rem 0;
    /* background: url(images/a.jpg); */
    margin: auto;
    background-size: cover;
}

#background_video {
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: fill;
}

.head {
    display: flex;
}


.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 30px 0 0 50px;
}

.logo img {
    height: 70px;
}

.content {
    height: 100vh;
}

.profile {
    background: linear-gradient(to left, rgb(132, 196, 248), rgb(32, 32, 31));
    border-radius: 30px;
    padding: 0.8rem 1.4rem;
    text-transform: capitalize;
    color: snow;
    word-spacing: 0.2rem;
    margin-bottom: 5px;
    margin-right: 3rem;
    cursor: pointer;
    transition: transform .5s;
}

.profile i {
    display: none;
}


.profile:hover i {
    display: inline-block;
    padding-right: 5px;
}


.profile:hover {
    transform: scale(1.1);
}


.nav {
    text-transform: uppercase;
    background-color: rgba(243, 243, 240, 0.5);
    border-radius: 50px;
    position: fixed;
    left: 40%;
    top: 5%;
    transform: translateX(-30%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    opacity: 70%;
}


.nav ul {
    display: flex;
    list-style: none;
}


.nav ul li {
    cursor: pointer;
    padding: .5rem 2.5rem;
    font-weight: 900;
    text-align: center;
}

.nav ul a {
    text-decoration: none;
    color: black;
}


.nav ul li:hover {
    border-radius: 60px;
    background: linear-gradient(to left, rgba(243, 243, 240, 0.5), rgb(246, 32, 8), rgba(243, 243, 240, 0.5));
}

.content {
    height: 85vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Show the dropdown content when hovering over the profile section */
.profile:hover .dropdown-content {
    display: block;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change the background color of links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* .card {
    width: 100px;
    object-fit: contain;
    justify-content: space-around;
    display: flex;
} */

.productimage {
    width: 100px;
    object-fit: contain;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.brands a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.brands a:hover {
    background-color: #0056b3;
}