*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    scroll-behavior: smooth;
}

::placeholder{
    color: rgb(0, 0, 0);
}

body{
    background-color: black;
}

.container{
    width: 100%;
}

.header{
    opacity: 0.8;
}

#background_video{
    position: absolute;
    right: 0;
    bottom: 0;
    /* min-width: 100%; 
    min-height: 100%; */
    z-index: -1;
    /* object-fit: fill; */
    /* background-size: cover; */
}

.head{
    height: 15vh;
    display: flex;
}

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 30px 0 0 50px;
}

.logo img{
    height: 70px;
}

.profile{
    background: linear-gradient(to left, rgb(243, 243, 240), rgb(21, 84, 25));
    border-radius: 30px;
    padding: 0.8rem 1.4rem;
    text-transform: capitalize;
    word-spacing: 0.2rem;
    margin-bottom: 5px;
    margin-right: 3rem;
    cursor: pointer;
    transition: transform .5s;
}

.profile i{
    display: none;
}


.profile:hover i{
    display: inline-block;
    padding-right: 5px;
}


.profile:hover{
    transform: scale(1.1);
}


.nav{
    text-transform: uppercase;
    background-color: rgba(243, 243, 240, 0.5);
    border-radius: 50px;
    position: fixed;
    left: 40%;
    top: 5%;
    transform: translateX(-30%);
    display: flex;
    justify-content: space-between;
    z-index: 1;
    opacity: 70%;
}


.nav ul{
    display: flex;
    list-style: none;
}


.nav ul li{
    cursor: pointer;
    padding: .5rem 2.5rem;
    font-weight: 900;
    text-align: center;
}

.nav ul a{
    text-decoration: none;
    color: black;
}


.nav ul li:hover{
    border-radius: 60px;
    background: linear-gradient(to left, rgba(243, 243, 240, 0.5),rgb(21, 84, 25), rgba(243, 243, 240, 0.5));
}


.waviy {
    position: relative;
    text-align: center;
    -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(0,0,0,.5));
    font-size: 50px;
    padding-top: 5rem;
  }

  .waviy span {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }

  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-30px)
    }
  }

.content{
    height: 85vh;
    text-align: center;
    color: snow;
}

.footer{
    background: linear-gradient(to right,rgb(21, 84, 25), snow);
    width: 100%;
    position: absolute;
    /* bottom: 0; */
    color: black;
    border-top-left-radius: 40px;
    font-size: 13px;
    line-height: 20px;
    padding: 100px 0 30px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(2),
.col:nth-child(3){
    flex-basis: 15%;
}

.foot_logo{
    width: 200px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email_id{
    width: fit-content;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 20px 0;
}

.col ul li{
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 50px;
}

.col form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}

.col form input{
    width: 100%;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 0;
    outline: none;
}

.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.col form .fa-solid{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.social_icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: snow;
    background: rgb(0, 0, 0);
    margin-right: 15px;
}

.footer hr{
    width: 98%;
    border-bottom: 1px solid rgb(5, 5, 5);
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: gray;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
 width: 15px;
 height: 100%;
 background: rgb(0, 0, 0);
 border-radius: 3px;
 position: absolute;
 top: 0;
 left: 10px;
 animation: moving 2s linear infinite;   
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 800px){
    .footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(2),
    .col:nth-child(3){
        flex-basis: 100%;
    }
}

@media(min-aspect-ratio:16/9){
    #background_video{
        height: auto;
        width: 100%;
    }

}

@media (max-aspect-ratio:16/9){
    #background_video{
        width: auto;
        height: 100%;
    }
}


.product_page{
    /* height: 100vh; */
    background-color: rgb(238, 240, 234);
}

.product_page h3{
    padding: 3rem 0 2rem 0;
    color: rgb(6, 6, 6);
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: underline;
}

.new_product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    grid-gap: 50px;
    text-align: center;
}

.product{
    border: 1px solid rgba(73, 73, 73, 0.2);
    border-radius: 30px;
    padding: 20px;
}

.product .dp{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.product .dp{
    background-color: rgb(21, 84, 25);
    padding: 3px;
    margin: 10px;
}
.product h4{
    color: rgb(9, 9, 9);
    padding: 20px;
}

.product p{
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 30px;
    padding: 10px;
}

.product_page_link{
    display: flex;
    justify-content: center;
}



.product_page_link p{
    padding: 20px;
}

.product_page_link a{
    color: rgb(4, 4, 4);
    text-decoration: none;
}

.product_page_link i{
    padding-left: 10px;
}

.product_page_link p:hover{
    transform: scale(1.3);
    transition: 1s;
}
